body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

header input {
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border-radius: 5px;
  border: none;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  max-width: 300px;   /* controla o tamanho */
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}
