body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  padding: 30px 20px;
  text-align: center;
}

header input {
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border-radius: 5px;
  border: none;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  text-decoration: none;
  color: #111;
  transition: transform 0.2s, background 0.2s;
}

.card:hover {
  background: #ffd700;
  transform: scale(1.05);
}

.logo {
  max-width: 300px;   /* controla o tamanho */
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}

